
<nav class="navbar navbar-expand-sm    navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" routerLink="/">👨🏾‍👩‍👧‍👦</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active"   role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Familias
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/family-pagination">Lista</a></li>
            <li><a class="dropdown-item" routerLink="/family-add">Adicionar</a></li> 
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cofiguração
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Activistas</a></li>
            <li><a class="dropdown-item" href="#">Organizações</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
       
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Procurar">
        <button class="btn btn-outline-success " type="submit">Procurar</button>
      </form>
    </div>
  </div>
</nav>


 
<div class="container mt-4">
<router-outlet></router-outlet>

</div>
